<section class="container-fluid text-center px-3 pt-9 pb-1 px-lg-4 px-xl-5">
    <div class="row">
        <div class="col-sm-12 col-md-3 pb-5 mb-3 text-md-start">
            <a class="navbar-brand" href="#">
                <img [src]="logo" width="190" height="90" alt="Logo">
            </a>
        </div>
        <div class="col-sm-12 col-md-3 pb-4 px-md-0">
            <h6 class="pb-1 pb-md-4">About</h6>
            <ul>
                <li>Home</li>
                <li>About us</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 pb-4 px-md-0">
            <h6 class="pb-1 pb-md-4">Contact us</h6>
            <ul>
                <li>
                    <a class="" href="tel:"><fa-icon [icon]="faPhone"></fa-icon> (317) 123-4567</a>
                </li>
                <li>
                    <a class="" href="mailto:"><fa-icon [icon]="faEnvelope"></fa-icon> belascakesusa&#64;gmail.com</a>
                </li>
                <li>
                    <a href="#"><fa-icon [icon]="faInstagram" class="icon-custom-size"></fa-icon> &#64;belascakesusa</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 pb-4 px-md-0">
            <h6 class="pb-1 pb-md-4">Working hours</h6>
            <ul>
                <li>
                    <fa-icon [icon]="faClock"></fa-icon> Mon to Sat 9am - 5pm
                </li>
                <li>
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Fishers, IN
                </li>
            </ul>
        </div>
    </div>
    <footer class="pt-5">
        <p>&copy;2024 Bela's Cakes. All rights reserved.</p>
    </footer>
</section>
