.btn {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 50px;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid #6b5b95;
    color: #6b5b95;
}

.fake-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font-weight: 600;
    padding: 10px 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 918px) {
    .img-custom-width {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 919px) {
    .container-fluid {
        padding-bottom: 74px !important;
    }
}

/*
@media (min-width: 1200px) {
    .pe-lg-5 {
        padding-right: 5rem !important;
    }
}
*/