<section class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <h2>Follow us on Instagram</h2>
            <p>We post all our news and present new cakes there</p>
            <button class="btn btn-primary">Instagram</button>
        </div>
        <div class="col-sm-12 col-lg-8">
            <img src="" alt="Instagram">
            <img src="" alt="Instagram">
            <img src="" alt="Instagram">
        </div>
    </div>
</section>
