<section class="container-fluid text-center text-md-start pt-9 pb-8 px-4">
    <div class="row pb-4">
        <div class="col-sm-12 col-md-4">
            <h2 class="pb-3">Follow us on Instagram</h2>
            <p>We post all our news and present new cakes there</p>
            <button class="btn d-none d-md-block">Instagram</button>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="instagram-images pb-1">
                <div class="col-4">
                <img [src]="imgInstagram" alt="Instagram">
            </div>
                <div class="col-4">
                <img [src]="imgInstagram" alt="Instagram">
            </div>
                <div class="col-4">
                <img [src]="imgInstagram" alt="Instagram">
            </div>
            </div>
            <div class="pt-4 d-md-none">
                <button class="btn">Instagram</button>
            </div>
        </div>
    </div>
</section>
