<section class="container-fluid text-center text-md-start ps-xl-5"> 
    <div class="row">
        <div class="col-sm-12 col-md-6 px-3 px-md-4 px-lg-5 pt-9 pb-4 px-xl-5">
            <h2 class="pb-3">About us</h2>
            <p class="mb-md-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, nobis? 
                Quasi minima eos sit harum odit earum fugiat modi quaerat voluptates dignissimos. 
                Sit eaque sed corrupti labore veritatis, exercitationem voluptas rerum amet magni 
                aut quos perspiciatis nam maxime quod perferendis modi tempora impedit soluta hic 
                voluptatem quibusdam dolor repudiandae! Accusantium!</p>
        </div>
        <div class="col-sm-12 col-md-6 about-us-img"></div>
    </div>
</section>
