<section class="container-fluid text-center px-3 px-md-4 px-lg-5 pt-9 pb-8">
    <h2 class="pb-5">Made Fresh Daily</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
            <img [src]="quality" width="100" alt="Quality Products">
            <p class="pt-4 mb-md-0">Only quality products</p>
        </div>
        <div class="col-sm-12 col-md-4 pb-4 pb-md-0">
            <img [src]="cake" width="100" alt="Custom Cake">
            <p class="pt-4 mb-md-0">Custom cakes and pastries for any events</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <img [src]="proven" width="100" alt="Proven Recipes">
            <p class="pt-4 mb-md-0">Proven recipes</p>
        </div>
    </div>
</section>
